<template>
    <v-layout>
        <v-flex xs12 sm5 class="pr-3">
            <v-card>
                <v-expansion-panel>
                    <v-expansion-panel-content>
                        <div slot="header" class="headline">{{ projectName }}</div>
                        <v-divider></v-divider>
                        <v-card-text>
                            <v-checkbox
                                v-for="(filter, index) in filters"
                                v-bind:key="filter.name"
                                v-model="filter.value"
                                :label="filter.label"
                                hide-details
                                :class="index === 0 ? 'mt-0' : ''"
                                @change="sendFilters(filter.name)"
                            ></v-checkbox>
                        </v-card-text>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-card-text>
                    <div>Проектный менеджер: <a @click="managerDialog = true">{{ manager ? `${manager.lastname} ${manager.firstname}` : 'не указан' }}</a></div>
                </v-card-text>
            </v-card>
        </v-flex>
        <v-flex xs12 sm7>
            <v-card>
                <v-card-title class="title">Над проектом работали</v-card-title>
                <v-divider></v-divider>
                <v-data-table
                    :headers="workers.headers"
                    :items="workers.items"
                    :pagination.sync="workers.pagination"
                    hide-actions
                >
                    <template slot="items" slot-scope="props">
                        <tr>
                            <!-- <td>{{ props.item.user | FIO }}</td> -->
                            <td><a @click="$router.push({ name: 'worker', params: { id: props.item.user._id } })">{{ props.item.user.lastname }}</a></td>
                            <td>{{ props.item.lastTwo | hoursFormat }}</td>
                            <td>{{ props.item.last | hoursFormat }}</td>
                            <td>{{ props.item.one | hoursFormat }}</td>
                            <td>{{ props.item.all | hoursFormat }}</td>
                        </tr>
                    </template>
                </v-data-table>
            </v-card>
        </v-flex>
        <v-dialog
            v-model="managerDialog"
            scrollable
            max-width="500px"
        >
            <v-card>
                <v-card-text>
                    <v-select
                        :items="users"
                        label="Выбрать ПМа"
                        item-text="lastname"
                        item-value="_id"
                        @change="changeManager"
                    ></v-select>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>
const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const currentDay = Number.parseInt(new Date().getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;
const monday = getMonday(currentDay);
const lastMonday = getMonday(monday - (1000 * 3600 * 24));
const prevMonday = getMonday(lastMonday - (1000 * 3600 * 24));

const moment = require('moment');

export default {
    name: 'main',
    props: ['project'],
    data: function () {
        return {
            users: [],
            managerDialog: false,
            workers: {
                pagination: {
                    sortBy: 'lastTwo',
                    rowsPerPage: -1,
                    descending: true
                },
                headers: [
                    { text: 'ФИО', value: 'user.lastname' },
                    { text: `${moment(prevMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'lastTwo' },
                    { text: `${moment(lastMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'last' },
                    { text: `${moment(monday).format('DD.MM')} - ${moment(monday + (1000 * 3600 * 24 * 7)).format('DD.MM')}`, value: 'one' },
                    { text: 'Все время', value: 'all' }
                ],
                items: []
            },
            filters: [
              { name: 'favorite', label: 'Избранное', value: false,
              click: () => { updateProject({ favorite: !favorite }) } },
              { name: 'archive', label: 'Архив', value: false,
              click: () => { updateProject({ archive: !archive }) } },
              { name: 'commerce', label: 'Учитывать как некомерческий проект',  value: false,
              click: () => { updateProject({ commerce: !commerce }) } }
            ],
            projectName: '',
            commerce: false,
            manager: null
        }
    },
    mounted: function () {
        this.getProjectReports();
        this.getWorkers();
    },
    filters: {
        hoursFormat: (time) => {
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);
            
            const minutesStr = minutes.toString().length === 1 ? `0${minutes}` : minutes;
            const secondsStr = seconds.toString().length === 1 ? `0${seconds}` : seconds;
            
            return `${hours}:${minutesStr}:${secondsStr}`;
        },
        FIO: (user) => `${user.lastname || ''} ${user.firstname || ''} ${user.patronymic || ''}`,
    },
    methods: {
        getWorkers() {
            this.$http.get('/api/users')
                .then(res => {
                    this.users = res.data.users;
                });
        },
        changeManager(user) {
            this.$http.put('/api/projects', { id: this.project, manager: user })
                .then(res => {
                    this.managerDialog = false;
                    this.getProjectReports();
                })
        },
        getProjectReports: function () {
            this.$http.get(`/api/reports/projects/${this.project}?start=${monday}`)
                .then(res => {
                    const reports = res.data.reports;
                    this.workers.items = reports;
                    this.projectName = res.data.project.name;
                    for(let filter of this.filters) {
                      if(filter.name != "commerce")
                          filter.value = res.data.project[filter.name];
                      else
                          filter.value = !res.data.project[filter.name];
                    }
                    this.commerce = res.data.project.commerce;
                    this.manager = res.data.project.manager;
                })
                .catch(e => {
                    console.log(e);
                });
        },
        updateProject: function (fields) {
            const form = {
                ...fields,
                id: this.project
            }
            this.$http.put('/api/projects/', form)
        },
        sendFilters: function(filterName)
        {
          let filters = {};
          for(let filter of this.filters) {
              if(typeof filter !== 'object') continue;
              filters[filter.name] = filter.value;
          }

          if(filterName == "commerce") {
              filters["commerce"] = !this.commerce;
              this.commerce = !this.commerce;
          }
          else {
              filters["commerce"] = this.commerce;
          }
            
          this.updateProject(filters);
        }
    }
}
</script>
<style scoped>

</style>