<template>
    <v-layout>
        <v-flex>
            <!-- <v-breadcrumbs divider="/">
                <v-breadcrumbs-item>
                    Проекты
                </v-breadcrumbs-item>
            </v-breadcrumbs> -->
            <v-card>
                <div class="searchingBlock">
                    <input v-bind:type="text" class="searchingString" v-model="searching">
                </div>
                <v-card-title class="title">
                    Список проектов
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                        <v-icon slot="activator" @click="favorite = !favorite" :color="favorite ? 'yellow' : 'grey'">star</v-icon>
                        <span v-if="!favorite">Показать только избранные</span>
                        <span v-if="favorite">Показывать все проекты</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <v-icon slot="activator" @click="archive = !archive" :color="archive ? 'red' : 'grey'">delete_forever</v-icon>
                        <span v-if="!archive">Показывать помещенные в архив</span>
                        <span v-if="archive">Не показывать помещенные в архив</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <v-icon slot="activator" @click="commerce = !commerce" :color="!commerce ? 'black' : 'grey'">money_off</v-icon>
                        <span v-if="!commerce">Не показывать некоммерческие</span>
                        <span v-if="commerce">Показывать все проекты</span>
                    </v-tooltip>
                </v-card-title>
                <v-divider></v-divider>
                <v-data-table
                    :headers="projects.headers"
                    :items="showItems"
                    :pagination.sync="projects.pagination"
                    hide-actions
                >
                    <template slot="items" slot-scope="props">
                        <tr>
                            <td>
                                <a @click="$router.push({ name: 'project', params: { project: props.item._id } })">{{ props.item.project.name }}</a>
                                <v-icon small v-if="props.item.project.favorite" color="yellow">star</v-icon>
                                <v-icon small v-if="props.item.project.archive" color="red">delete_forever</v-icon>
                                <v-icon small v-if="!props.item.project.commerce" color="black">money_off</v-icon>
                            </td>
                            <td>{{ props.item.lastTwo | hoursFormat }}</td>
                            <td>{{ props.item.last | hoursFormat }}</td>
                            <td>{{ props.item.one | hoursFormat }}</td>
                            <td>{{ props.item.all | hoursFormat }}</td>
                        </tr>
                    </template>
                </v-data-table>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const currentDay = Number.parseInt(new Date().getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;
const monday = getMonday(currentDay);
const lastMonday = getMonday(monday - (1000 * 3600 * 24));
const prevMonday = getMonday(lastMonday - (1000 * 3600 * 24));

const moment = require('moment');

export default {
    name: 'projects',
    data: function () {
        return {
            projects: {
                pagination: {
                    sortBy: 'lastTwo',
                    rowsPerPage: -1,
                    descending: true
                },
                headers: [
                    { text: 'Название', value: 'project.name' },
                    { text: `${moment(prevMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'lastTwo' },
                    { text: `${moment(lastMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'last' },
                    { text: `${moment(monday).format('DD.MM')} - ${moment(monday + (1000 * 3600 * 24 * 7)).format('DD.MM')}`, value: 'one' },
                    { text: 'Все время', value: 'all' }
                ],
                items: []
            },
            archive: false,
            favorite: false,
            commerce: false,
            searching: ''
        }
    },
    mounted: function () {
        this.getProjectReports();
    },
    filters: {
        hoursFormat: (time) => {
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);
            
            const minutesStr = minutes.toString().length === 1 ? `0${minutes}` : minutes;
            const secondsStr = seconds.toString().length === 1 ? `0${seconds}` : seconds;
            
            return `${hours}:${minutesStr}:${secondsStr}`;
        }
    },
    computed: {
        showItems: function () {
            let result = this.projects.items;
            if (this.favorite) {
                result = result.filter(p => p.project.favorite === this.favorite);
            }

            if (this.commerce) {
                result = result.filter(p => p.project.commerce === true);
            }

            if (!this.archive) {
                result = result.filter(p => p.project.archive === false);
            }

            if (this.searching.trim() != "") {
                result = result.filter(p => p.project.name.toLowerCase().indexOf(this.searching.toLowerCase().trim()) != -1);
            }

            return result;
        }
    },
    methods: {
        getProjectReports: function () {
            this.$http.get(`/api/reports/projects?start=${monday}`)
                .then(res => {
                    const reports = res.data.reports;
                    this.projects.items = reports;
                })
                .catch(e => {
                    console.log(e);
                });
        }
    }
}
</script>
<style scoped>

</style>