<template>
    <v-layout>
        <v-flex offset-md3 md6>
            <v-card>
                <v-card-title class="title">
                    {{ getTitle() }}
                </v-card-title>
                <v-divider></v-divider>
                <div
                    v-for="list in lists"
                    v-bind:key="list.name"
                >
                    <v-subheader>
                        {{ list.label }}
                    </v-subheader>
                    <v-divider></v-divider>
                    <v-card-text>
                        <template
                            v-for="field in list.fields"
                        >
                            <v-text-field
                                v-if="!field.type"
                                v-bind:key="field.name"
                                v-model="field.value"
                                :append-icon="field.icon"
                                :required="!!field.required"
                                :label="field.label"
                                :error="!!field.required && !!errors[field.name].msg"
                                :error-messages="!!field.required ? errors[field.name].msg : []"
                            ></v-text-field>

                            <v-checkbox
                                v-if="field.type === 'checkbox'"
                                v-bind:key="field.name"
                                v-model="field.value"
                                :label="field.label"
                            >

                            </v-checkbox>

                            <v-menu
                                v-if="field.type === 'date'"
                                v-bind:key="field.name"
                                ref="menu"
                                :close-on-content-click="false"
                                v-model="field.menu"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px"
                            >
                                <v-text-field
                                    slot="activator"
                                    v-model="field.value"
                                    label="День рождения"
                                    prepend-icon="event"
                                    readonly
                                ></v-text-field>
                                <v-date-picker v-model="field.value" @input="field.menu = false"></v-date-picker>
                            </v-menu>
                        </template>
                    </v-card-text>
                </div>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn :color="getButton().color" @click="getButton().action()">{{ getButton().text }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const moment = require('moment');

export default {
    name: 'createWorker',
    props: ['id'],
    data: function () {
        return {
            lists: [
                { name: 'ids', label: 'IDs', type: 'list', fields: [
                    { name: 'hubstaffId', label: 'Hubstaff', value: '' },
                    { name: 'upworkUid', label: 'Upwork', value: '' }
                ]},
                { name: 'main', label: 'Основные данные', type: 'list', fields: [
                    { name: 'firstname', label: 'Имя', value: '' },
                    { name: 'lastname', label: 'Фамилия', value: '' },
                    { name: 'patronymic', label: 'Отчество', value: '' },
                    { name: 'email', label: 'Email', value: '', required: true },
                    { name: 'card', label: 'Номер карты', value: '' },
                    { name: 'phone', label: 'Телефон', value: '' },
                    { name: 'birthday', label: 'День рождения', value: '', type: 'date', menu: false },
                    { name: 'projectManager', label: 'Проектный менеджер', value: false, type: 'checkbox' },
                    { name: 'archive', label: 'Не работает', value: false, type: 'checkbox' }
                ]},
                { name: 'links', label: 'Ссылки', type: 'list', fields: [
                    { name: 'vk', label: 'ВКонтакте', value: '' },
                    { name: 'upwork', label: 'Upwork', value: '' }
                ]},
            ],
            errors: {
                email: { msg: '' }
            }
        }
    },
    mounted: function () {
        if (this.$route.name === 'worker-edit') {
            this.getUser();
        }
    },
    methods: {
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        getTitle: function () {
            if (!this.$route) {
                return 'Добавить пользователя';
            }
            return this.$route.name === 'worker-create' ? 'Добавить пользователя' : 'Изменить пользователя'
        },
        getButton: function () {
            const createBtn = { color: 'success', text: 'Добавить', action: this.create };
            const editBtn = { color: 'primary', text: 'Изменить', action: this.edit };

            if (!this.$route) {
                return createBtn;
            }

            return this.$route.name === 'worker-create' ? createBtn : editBtn;
        },
        getForm: function () {
            const form = {};
            for (let list of this.lists) {
                for (let field of list.fields) {
                    if (field.type === 'date') {
                        form[field.name] = new Date(field.value).getTime();
                    } else {
                        form[field.name] = field.value;
                    }
                }
            }

            return form;
        },
        getUser: function() {
            this.$http.get('/api/users/user?id=' + this.id)
                .then(res => {
                    for (let list of this.lists) {
                        for (let field of list.fields) {
                            if (field.type === 'date') {
                                if (!res.data.user[field.name]) break;
                                field.value = moment(+res.data.user[field.name]).format('YYYY-MM-DD');
                            } else if (field.name === 'vk' || field.name === 'upwork') {
                                const link = res.data.user.links.find(l => l.name === field.name);
                                if (link) {
                                    field.value = res.data.user.links.find(l => l.name === field.name).value || '';
                                }
                            } else {
                                field.value = res.data.user[field.name] || '';
                            }
                        }
                    }
                })
                .catch(err => console.log(err));
        },
        create: function () {
            const form = this.getForm();

            this.$http.post('/api/users/user', { ...form })
                .then(res => {
                    if (res.data.success) {
                        this.$router.push({ name: 'workers-list' })
                    }
                })
                .catch(err => {
                    if (err.response.status === 400) {
                        this.errors = err.response.data.errors;
                    }
                    console.log(err);
                });
        },
        edit: function () {
            const form = this.getForm();

            this.$http.put('/api/users/user', { id: this.id, ...form })
                .then(res => {
                    if (res.data.success) {
                        this.$router.push({ name: 'workers-list' })
                    }
                })
                .catch(err => {
                    if (err.response.status === 400) {
                        this.errors = err.response.data.errors;
                    }
                    console.log(err);
                });
        }
    }
}
</script>
<style scoped>
    .v-subheader {
        justify-content: flex-end;
    }
</style>
