<template>
    <v-layout>
        <v-flex>
            <v-card>
                <v-card-title class="title">
                    Подробная статистика по работникам: {{ start | dateFormat }} - {{ end | dateFormat }}
                    <v-spacer></v-spacer>
                    <v-icon @click="getReports()" color="info">update</v-icon>
                </v-card-title>
                <v-btn color="info" @click="prevWeek">
                    <v-icon dark left>arrow_back</v-icon>Предыдущая
                </v-btn>
                <v-btn style="float: right" color="info" @click="nextWeek">
                    Следующая<v-icon dark right>arrow_forward</v-icon>
                </v-btn>
                <v-divider></v-divider>
                <v-expansion-panel>
                    <v-expansion-panel-content>
                    <div slot="header">Фильтр</div>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-checkbox
                            v-for="(filter, index) in filters"
                            v-bind:key="filter.name"
                            v-model="filter.value"
                            :label="filter.label"
                            hide-details
                            :class="index === 0 ? 'mt-0' : ''"
                            @change="filter.click"
                        ></v-checkbox>
                    </v-card-text>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-divider></v-divider>
                <v-data-table
                    :headers="table.headers"
                    :items="showItems"
                    :loading="table.loading"
                    :pagination.sync="table.pagination"
                    hide-actions
                >
                    <v-progress-linear slot="progress" color="green" indeterminate></v-progress-linear>
                    <template slot="items" slot-scope="props">
                        <tr>
                            <td>
                                <v-tooltip bottom>
                                    <v-icon slot="activator" small>schedule</v-icon>
                                    <span>{{ props.item.lastConnect | update }}</span>
                                </v-tooltip>
                                <a @click="$router.push({ name: 'detailed', params: { id: props.item._id } })">{{ props.item.lastname }}</a>
                                <span class="PM" v-if="props.item.projectManager">PM</span>
                                <v-icon small v-if="props.item.archive" color="red">delete_forever</v-icon>
                            </td>
                            <td 
                                v-for="(value, time) in props.item.reports"
                                v-if="!['total', 'upwork', 'hubstaff', 'price'].includes(time)"
                                v-bind:key="time"
                                :class="value === 0 ? 'red lighten-4' : ''"
                            >
                                {{ value | hoursFormat }}
                            </td>
                            <td :class="getTimeColor(props.item.reports.total)">{{ props.item.reports.total | hoursFormat}}</td>
                            <td>{{ props.item.reports.upwork | hoursFormat }}</td>
                            <td>{{ props.item.reports.hubstaff | hoursFormat }}</td>
                            <td>{{ (props.item.reports.price || 0).toFixed(2) }}</td>
                        </tr>
                        
                    </template>
                    <template slot="footer">
                        <tr>
                            <td>Сумма:</td>
                            <td
                                v-for="sum in sums"
                                v-bind:key="sum.time"
                                v-if="sum.time !== 'price'"
                            >{{ sum.value | hoursFormat }}</td>
                            <td>{{ sums.find(s => s.time === 'price').value.toFixed(2) }}</td>
                        </tr>
                    </template>
                </v-data-table>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const moment = require('moment');

const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const getDay = (d) => Number.parseInt(new Date(d).getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;

const currentDay = getDay(new Date().getTime());
const monday = getMonday(currentDay);
let lastMonday = monday;

export default {
    name: 'detailed',
    data: function () {
        return {
            filters: [
                { name: 'projectManager', value: false, label: 'Показывать ПМов' },
                { name: 'archiveUser', value: false, label: 'Показывать не работающих' },
                { name: 'commerce', value: true, label: 'Учитывать некоммерческие проекты', 
                    click: () => { this.getReports(!this.filters.find(f => f.name === 'commerce').value) } }
            ],
            commerce: false,
            start: monday,
            end: '',
            table: {
                loading: false,
                pagination: {
                    sortBy: 'reports.total',
                    rowsPerPage: -1,
                    descending: true
                },
                headers: [],
                items: []
            },
            sums: []
        }
    },
    filters: {
        update: (date) => moment(+date).format('DD.MM HH:mm:ss'),
        dateFormat: (timestamp) => timestamp ? moment(timestamp).format('DD.MM') : '',
        hoursFormat: (time) => {
            if (!time) return '0:00:00';
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);

            const minutesStr = minutes.toString().length === 1 ? `0${minutes}` : minutes;
            const secondsStr = seconds.toString().length === 1 ? `0${seconds}` : seconds;
            
            return `${hours}:${minutesStr}:${secondsStr}`;
        }
    },
    computed: {
        showItems: function () {
            let result = this.table.items;
            const showPM = this.filters.find(f => f.name === 'projectManager').value;
            const showArchiveUsers = this.filters.find(f => f.name === 'archiveUser').value;

            if (!showPM) {
                result = result.filter(r => !r.projectManager);
            }

            if (!showArchiveUsers) {
                result = result.filter(r => !r.archive);
            }

            return result;
        }
    },
    watch: {
        $route: function() {
            this.generateTable();
        }
    },
    created: function () {
        this.generateTable();
    },
    methods: {
        generateTable: function () {
            this.start = monday;
            this.end = monday + (1000 * 3600 * 24 * 6);

            if (this.$route.query.hasOwnProperty('start') && this.$route.query.hasOwnProperty('end')) {
                this.start = getDay(+this.$route.query.start);
                this.end = getDay(+this.$route.query.end);
            }

            this.table.headers = [ { text: 'ФИО', value: 'lastname', fixed: true } ];
            this.sums = [];
            for (let t = this.start; t <= this.end; t += 1000 * 3600 * 24) {
                this.sums.push({
                    time: t,
                    value: 0
                });

                this.table.headers.push({
                    text: moment(getDay(t)).format('DD.MM'),
                    value: `reports.${t}`
                })
            }

            this.table.headers.push(...[
                { text: 'Всего', value: 'reports.total' },
                { text: 'Upwork', value: 'reports.upwork' },
                { text: 'Hubstaff', value: 'reports.hubstaff' },
                { text: 'Стоимость', value: 'reports.price' }
            ])

            this.sums.push(...[
                { time: 'total', value: 0 },
                { time: 'upwork', value: 0 },
                { time: 'hubstaff', value: 0 },
                { time: 'price', value: 0 }
            ]);

            this.getReports();
        },
        prevWeek: function () {
            this.$router.push({name: 'workers-detailed', query: { start: this.start - 604800000, end: this.end - 604800000}}); 
        },
        nextWeek: function () {
            this.$router.push({name: 'workers-detailed', query: { start: this.start + 604800000, end: this.end + 604800000}}); 
        },
        getReports: function (commerce = this.commerce) {
            this.table.loading = true;
            this.$http.get(`/api/reports/detailed?start=${this.start}&end=${this.end}&commerce=${commerce}`)
                .then(res => {
                    this.table.items = res.data.users;

                    for (let sum of this.sums) {
                        sum.value = 0;
                    }

                    for (let i = 0; i < res.data.users.length; i++) {
                        for(var key in res.data.users[i].reports) {
                            this.sums.find(s => s.time == key).value += res.data.users[i].reports[key];
                        }
                    }

                    this.commerce = commerce;
                    this.table.loading = false;
                })
                .catch(err => {
                    console.log(err);
                    this.table.loading = false;
                })
        },
        getTimeColor: function (time) {
            const colors = { green: 'green lighten-3', yellow: 'yellow lighten-3', red: 'red lighten-3'}
            if (+time / 3600 >= 30) {
                return colors['green'];
            } else if (+time / 3600 >= 20) {
                return colors['yellow']
            } else {
                return colors['red'];
            }
        },
    }
}
</script>
<style>
</style>
<style scoped>
    td {
      white-space: nowrap;
    }
    table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
        padding: 0 14px;
    }
    table.v-table tbody td, table.v-table tbody th {
        height: 28px;
    }
</style>
