<template>
    <v-layout>
        <v-flex>
            <v-card>
                <v-card-title class="title">
                    Список работников
                </v-card-title>
                <v-divider></v-divider>
                <v-data-table
                    :headers="workers.headers"
                    :items="workers.items"
                    hide-actions
                >
                    <template slot="items" slot-scope="props">
                        <tr>
                            <td>
                                {{ props.item | FIO }}
                                <span class="PM" v-if="props.item.projectManager">PM</span>
                                <v-icon small v-if="props.item.archive" color="red">delete_forever</v-icon>
                            </td>
                            <td>{{ props.item.email }}</td>
                            <td><a :href="'tel:' + props.item.phone">{{ props.item.phone }}</a></td>
                            <td>{{ props.item.card }}</td>
                            <td>{{ props.item.birthday | dateFormat }}</td>
                            <td>
                                <a
                                    v-for="link in props.item.links"
                                    v-bind:key="link._id"
                                    :href="link.value"
                                    target="_blank"
                                >
                                    {{ linksLabels[link.name] }}
                                </a>
                            </td>
                            <td>
                                <v-btn icon="icon" class="mx-0" @click="$router.push({ name: 'worker-edit', params: { id: props.item._id } })">
                                    <v-icon color="blue">edit</v-icon>
                                </v-btn>
                            </td>
                        </tr>
                    </template>
                </v-data-table>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="success" :to="{ name: 'worker-create' }">Добавить</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const moment = require('moment')

export default {
    name: 'WorkesrList',
    data: function () {
        return {
            workers: {
                headers: [
                    { text: 'ФИО', value: 'lastname' },
                    { text: 'Email', value: 'email' },
                    { text: 'Телефон', value: 'phone' },
                    { text: 'Карта', value: 'card', sortable: false },
                    { text: 'День рождения', value: 'birthday' },
                    { text: 'Ссылки', sortable: false },
                    { text: 'Действия', sortable: false }
                ],
                items: []
            },
            linksLabels: {
                vk: 'VK',
                upwork: 'UP'
            }
        }
    },
    mounted: function () {
        this.getWorkers();
    },
    filters: {
        FIO: (user) => `${user.lastname || ''} ${user.firstname || ''} ${user.patronymic || ''}`,
        dateFormat: (timestamp) => timestamp ? moment(timestamp).format('MM/DD/YYYY') : ''
    },
    methods: {
        getWorkers: function () {
            this.$http.get('/api/users')
                .then(res => {
                    this.workers.items = res.data.users;
                });
        }
    }
}
</script>
<style scoped>

</style>
