<template>
    <v-layout>
        <v-flex>
            <v-card>
                <v-card-title class="title">
                    Подробная статистика: {{ user.lastname }} {{ user.firstname }} (Последнее обновление: {{user.lastConnect | update}})
                    <v-spacer></v-spacer>
                    <a @click="$router.push({ name: 'worker', params: { id: user._id } })">Профиль</a>
                    <v-spacer></v-spacer>
                    <v-btn color="info" @click="getPrev()">Загрузить</v-btn>
                </v-card-title>
                <v-divider></v-divider>
                <v-data-table
                    :headers="table.headers"
                    :items="table.items"
                    :loading="table.loading"
                    hide-actions
                    class="fixed-header"
                >
                    <v-progress-linear slot="progress" color="green" indeterminate></v-progress-linear>
                    <template slot="items" slot-scope="props">
                        <tr v-for="item in props.item" v-bind:key="item._id">
                            <td>{{ item._id | dateFormat}}</td>
                            <td class="yellow lighten-4">{{ item.day.length >= 1 ? item.day[0].project.name : '' }}</td>
                            <td class="yellow lighten-4">
                                <v-edit-dialog
                                    v-if="item.day.length >= 1"
                                    :return-value.sync="item.day[0].price"
                                    lazy
                                    @save="setPrice([item.day[0]._id], item.day[0].price)"
                                > {{ item.day[0].price | projectPrice }}
                                    <v-text-field
                                    slot="input"
                                    v-model="item.day[0].price"
                                    label="Ставка"
                                    single-line
                                    counter
                                    ></v-text-field>
                                </v-edit-dialog>
                            </td>
                            <td class="yellow lighten-4">{{ item.day.length >= 1 ? item.day[0].time : 0 | hoursFormat }}</td>
                            <td class="blue lighten-4">{{ item.day.length >= 2 ? item.day[1].project.name : '' }}</td>
                            <td class="blue lighten-4">
                                <v-edit-dialog
                                    v-if="item.day.length >= 2"
                                    :return-value.sync="item.day[1].price"
                                    lazy
                                    @save="setPrice([item.day[1]._id], item.day[1].price)"
                                > {{ item.day[1].price | projectPrice }}
                                    <v-text-field
                                    slot="input"
                                    v-model="item.day[1].price"
                                    label="Ставка"
                                    single-line
                                    counter
                                    ></v-text-field>
                                </v-edit-dialog>
                            </td>
                            <td class="blue lighten-4">{{ item.day.length >= 2 ? item.day[1].time : 0 | hoursFormat }}</td>
                            <td class="red lighten-4">{{ item.day.length >= 3 ? item.day[2].project.name : '' }}</td>
                            <td class="red lighten-4">
                                <v-edit-dialog
                                    v-if="item.day.length >= 3"
                                    :return-value.sync="item.day[2].price"
                                    lazy
                                    @save="setPrice([item.day[2]._id], item.day[2].price)"
                                > {{ item.day[2].price | projectPrice }}
                                    <v-text-field
                                    slot="input"
                                    v-model="item.day[2].price"
                                    label="Ставка"
                                    single-line
                                    counter
                                    ></v-text-field>
                                </v-edit-dialog>
                            </td>
                            <td class="red lighten-4">{{ item.day.length >= 3 ? item.day[2].time : 0 | hoursFormat }}</td>
                            <td>{{ item.totalTime | hoursFormat }}</td>
                            <td>{{ (item.totalPrice || 0).toFixed(2) }}</td>
                        </tr>
                        <tr class="green lighten-3">
                            <td>
                                {{ props.item[0]._id | dateFormat }}
                                -
                                {{ props.item[props.item.length - 1]._id | dateFormat }}
                            </td>
                            <td>Ставка:</td>
                            <td>
                                <v-text-field
                                    class="button"
                                    append-icon="check_circle"
                                    @click:append="setWeekPrice(props.item, props.price)"
                                    placeholder="0"
                                    solo
                                    hide-details
                                    v-model="props.price"
                                ></v-text-field>
                            </td>
                            <td v-for="n in 7" v-bind:key="n"></td>
                            <td>{{ getWeekTotal(props.item).time | hoursFormat }}</td>
                            <td>{{ getWeekTotal(props.item).price.toFixed(2) }}</td>
                        </tr>
                    </template>
                    <template slot="footer">
                        <tr class="orange lighten-3">
                            <td>Суммарно:</td>
                            <td v-for="n in 9" v-bind:key="n"></td>
                            <td>{{ getSumTotal(table.items).time | hoursFormat }}</td>
                            <td>{{ getSumTotal(table.items).price.toFixed(2) }}</td>
                        </tr>
                    </template>
                </v-data-table>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const moment = require('moment');

const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const getDay = (d) => Number.parseInt(new Date(d).getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;

const currentDay = getDay(new Date().getTime());
const monday = getMonday(currentDay);

export default {
    name: 'PersonDetailed',
    props: ['id'],
    data: function () {
        return {
            start: monday,
            end: monday + 24 * 3600 * 1000 * 6,
            user: {
                lastname: '',
                firstname: ''
            },
            table: {
                loading: true,
                headers: [
                    { text: 'Дата', value: 'date', sortable: false },
                    { text: 'Проект 1', value: 'proj1', sortable: false, class: 'yellow lighten-4' },
                    { text: 'Cтавка 1', value: 'price1', sortable: false, class: 'yellow lighten-4' },
                    { text: 'Время 1', value: 'time1', sortable: false, class: 'yellow lighten-4' },
                    { text: 'Проект 2', value: 'proj2', sortable: false, class: 'blue lighten-4' },
                    { text: 'Cтавка 2', value: 'price2', sortable: false, class: 'blue lighten-4' },
                    { text: 'Время 2', value: 'time2', sortable: false, class: 'blue lighten-4' },
                    { text: 'Проект 3', value: 'proj3', sortable: false, class: 'red lighten-4' },
                    { text: 'Cтавка 3', v3alue: 'price3', sortable: false, class: 'red lighten-4' },
                    { text: 'Время 3', value: 'time3', sortable: false, class: 'red lighten-4' },
                    { text: 'Общее время', value: 'total', sortable: false },
                    { text: 'Итого', value: 'count', sortable: false }
                ],
                items: []
            }
        }
    },
    filters: {
        update: (date) => moment(+date).format('DD.MM HH:mm:ss'),
        projectPrice: (price) => price || '',
        dateFormat: (timestamp) => timestamp ? moment(timestamp).format('DD.MM') : '',
        hoursFormat: (time) => {
            if (!time) return '';
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);
            
            const minutesStr = minutes.toString().length === 1 ? `0${minutes}` : minutes;
            const secondsStr = seconds.toString().length === 1 ? `0${seconds}` : seconds;
            
            return `${hours}:${minutesStr}:${secondsStr}`;
        }
    },
    mounted: function () {
        this.getDetails();
    },
    methods: {
        getWeekTotal: function (week) {
            const totals = { time: week.map(r => r.totalTime || 0), price: week.map(r => r.totalPrice || 0) };
            if (totals.time.length) {
                return { time: totals.time.reduce((a, b) => a + b), price: totals.price.reduce((a, b) => a + b) }
            }
            return { time: 0, price: 0 };
        },
        getSumTotal: function (items) {
            if (!items.length) {
                return { time: 0, price: 0 };
            }
            const totals = { time: items.map(i => this.getWeekTotal(i).time), price: items.map(i => this.getWeekTotal(i).price) };
            if (totals.time.length) {
                return { time: totals.time.reduce((a, b) => a + b), price: totals.price.reduce((a, b) => a + b) }
            }
            return { time: 0, price: 0 };
        },
        getDetails: function () {
            this.table.loading = true;

            let url = `/api/reports/detailed/${this.id}?start=${this.start}&end=${this.end}`;
            this.$http.get(url)
                .then(res => {
                    this.user = res.data.user;
                    this.table.items.unshift(res.data.reports.sort((a, b) => a._id - b._id));

                    this.table.loading = false;
                })
                .catch(err => {
                    console.log(err);

                    this.table.loading = false;
                })
        },
        getPrev: function () {
            const week = 1000 * 24 * 3600 * 7;
            this.start -= week;
            this.end -= week;
            this.getDetails();
        },
        setWeekPrice: function (days, price) {
            let reports = [];
            days.forEach(d => {
                reports = [...reports, ...d.day.map(dd => dd._id)]
            })
            
            this.setPrice(reports, price);
        },
        setPrice: function (reports, price) {
            this.$http.put('/api/reports/price', { reports, price })
                .then(res => {
                    if (res.data.success) {
                        for (let week of this.table.items) {
                            for (let day of week) {
                                day.totalPrice = 0;
                                if (!day.day.length) continue;
                                for (let report of day.day) {
                                    day.totalPrice += report.time / 3600 * report.price;
                                }
                            }
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                })
        }
    }
}
</script>
<style>
    .button .v-input__control {
        min-height: 28px!important;
        width: 65px;
    }

</style>
<style scoped>
</style>
