<template>
    <v-card>
        <v-tabs
            color="teal lighten-2"
            dark
            slider-color="yellow"
            >
            <v-tab
                v-for="tab in tabs"
                :key="tab.value"
                ripple
            >
                {{ tab.text }}
            </v-tab>
            <v-tab-item
                v-for="tab in tabs"
                :key="tab.value"
            >
                <v-card flat>
                    <v-card-actions>
                        <v-menu
                            v-show="tab.value === 'custom'"
                            :close-on-content-click="false"
                            v-model="custom.startDate.activator"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="290px"
                            min-width="290px"
                        >
                            <v-text-field
                                slot="activator"
                                v-model="custom.startDate.value"
                                label="От"
                                prepend-icon="event"
                                readonly
                                ></v-text-field>
                            <v-date-picker v-model="custom.startDate.value" no-title @input="custom.startDate.activator = false"></v-date-picker>
                        </v-menu>
                    </v-card-actions>
                    <v-data-table
                        :headers="workers.headers"
                        :items="workers.items[tab.value]"
                        hide-actions
                    >
                        <template slot="items" slot-scope="props">
                            <tr>
                                <td>{{ props.item.user | FIO }}</td>
                                <td>{{ props.item.user.email }}</td>
                                <td>{{ props.item.time | hoursFormat }}</td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-card>
            </v-tab-item>
        </v-tabs>
    </v-card>
</template>
<script>
export default {
    name: 'main',
    data: function () {
        return {
            custom: {
                startDate: {
                    value: null,
                    activator: false
                },
                endDate: {
                    value: null,
                    activator: false
                }
            },
            tabs: [
                { text: 'Все время', value: 'all' },
                { text: 'Две недели', value: 'two' },
                { text: 'Неделя', value: 'weekly' },
                { text: 'Другое', value: 'custom' }
            ],
            workers: {
                headers: [
                    { text: 'ФИО', value: 'name' },
                    { text: 'Email', value: 'email' },
                    { text: 'Часов', value: 'time' }
                ],
                items: {
                    all: [],
                    two: [],
                    weekly: [],
                    custom: []
                }
            }
        }
    },
    mounted: function () {
        this.getSimpleReports();
    },
    filters: {
        hoursFormat: (time) => {
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);
            
            return `${hours}:${minutes}:${seconds}`;
        },
        FIO: (user) => `${user.lastname || ''} ${user.firstname || ''} ${user.patronymic || ''}`,
    },
    methods: {
        getSimpleReports: function () {
            this.$http.get('/api/reports/simple')
                .then(res => {
                    const reports = res.data.reports;
                    this.workers.items = reports;
                })
                .catch(e => {
                    console.log(e);
                });
        }
    }
}
</script>
<style scoped>

</style>