<template>
    <v-layout>
        <v-flex>
            <!-- <v-breadcrumbs divider="/">
                <v-breadcrumbs-item>
                    Работники
                </v-breadcrumbs-item>
            </v-breadcrumbs> -->
            <v-card>
                <v-card-title class="title">
                    Статистика по работникам
                    <v-spacer></v-spacer>
                    <v-icon @click="getSimpleReports()" color="info">update</v-icon>
                </v-card-title>
                <v-divider></v-divider>
                <v-expansion-panel>
                    <v-expansion-panel-content>
                    <div slot="header">Фильтр</div>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-checkbox
                            v-for="(filter, index) in filters"
                            v-bind:key="filter.name"
                            v-model="filter.value"
                            :label="filter.label"
                            hide-details
                            :class="index === 0 ? 'mt-0' : ''"
                            @change="filter.click"
                        ></v-checkbox>
                    </v-card-text>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-divider></v-divider>
                <v-data-table
                    :headers="workers.headers"
                    :items="showItems"
                    :loading="workers.loading"
                    :pagination.sync="workers.pagination"
                    hide-actions
                >
                    <v-progress-linear slot="progress" color="green" indeterminate></v-progress-linear>
                    <template slot="items" slot-scope="props">
                        <tr>
                            <td>
                                <a @click="$router.push({ name: 'worker', params: { id: props.item._id } })">{{ props.item.user.lastname }}</a>
                                <span class="PM" v-if="props.item.user.projectManager">PM</span>
                                <v-icon small v-if="props.item.user.archive" color="red">delete_forever</v-icon>
                            </td>
                            <td :class="getTimeColor('two', props.item.lastTwo)">{{ props.item.lastTwo | hoursFormat }}</td>
                            <td :class="getTimeColor('one', props.item.last)">{{ props.item.last | hoursFormat }}</td>
                            <td :class="getTimeColor('one', props.item.one)">{{ props.item.one | hoursFormat }}</td>
                            <td>{{ props.item.all | hoursFormat }}</td>
                            <td>
                                <v-icon size='16' :color="props.item.user.online ? 'green' : 'red'">fiber_manual_record</v-icon>
                                {{ props.item.user.lastConnect | dateTime }}
                                <v-icon size='16' @click="updateReports(props.item.user._id)" color="info">update</v-icon>
                            </td>
                        </tr>
                    </template>
                    <template slot="footer">
                        <tr>
                            <td>Сумма:</td>
                            <td>{{ sums.lastTwo | hoursFormat }}</td>
                            <td>{{ sums.last | hoursFormat }}</td>
                            <td>{{ sums.one | hoursFormat }}</td>
                            <td>{{ sums.all | hoursFormat }}</td>
                            <td></td>
                        </tr>
                    </template>
                </v-data-table>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const currentDay = Number.parseInt(new Date().getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;
const monday = getMonday(currentDay);
const lastMonday = monday - 3600 * 24 * 1000 * 7;
const prevMonday = lastMonday - 3600 * 24 * 1000 * 7;

const moment = require('moment');

export default {
    name: 'workers',
    data: function () {
        return {
            filters: [
                { name: 'projectManager', value: false, label: 'Показывать ПМов' },
                { name: 'archiveUser', value: false, label: 'Показывать не работающих' },
                { name: 'commerce', value: true, label: 'Учитывать некоммерческие проекты', 
                    click: () => { this.getSimpleReports(!this.filters.find(f => f.name === 'commerce').value) } }
            ],
            commerce: false,
            workers: {
                pagination: {
                    sortBy: 'lastTwo',
                    rowsPerPage: -1,
                    descending: true
                },
                headers: [
                    { text: 'ФИО', value: 'user.lastname' },
                    { text: `${moment(prevMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'lastTwo' },
                    { text: `${moment(lastMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'last' },
                    { text: `${moment(monday).format('DD.MM')} - ${moment(monday + (1000 * 3600 * 24 * 7)).format('DD.MM')}`, value: 'one' },
                    { text: 'Все время', value: 'all' },
                    { text: 'Обновление', value: 'user.lastConnect' }
                ],
                items: [],
                loading: false
            },
            sums: {
                lastTwo: 0,
                last: 0,
                one: 0,
                all: 0
            }
        }
    },
    mounted: function () {
        this.getSimpleReports();
    },
    filters: {
        dateTime: time => moment(+time).format('DD.MM HH:mm:ss'),
        hoursFormat: (time) => {
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);

            const minutesStr = minutes.toString().length === 1 ? `0${minutes}` : minutes;
            const secondsStr = seconds.toString().length === 1 ? `0${seconds}` : seconds;
            
            return `${hours}:${minutesStr}:${secondsStr}`;
        }
    },
    computed: {
        showItems: function () {
            let result = this.workers.items;
            const showPM = this.filters.find(f => f.name === 'projectManager').value;
            const showArchiveUsers = this.filters.find(f => f.name === 'archiveUser').value;

            if (!showPM) {
                result = result.filter(r => !r.user.projectManager);
            }

            if (!showArchiveUsers) {
                result = result.filter(r => !r.user.archive);
            }

            return result;
        }
    },
    methods: {
        getTimeColor: function (type, time) {
            const colors = { green: 'green lighten-3', yellow: 'yellow lighten-3', red: 'red lighten-3'}
            switch (type) {
                case 'one': 
                    if (+time / 3600 >= 30) {
                        return colors['green'];
                    } else if (+time / 3600 >= 20) {
                        return colors['yellow']
                    } else {
                        return colors['red'];
                    }
                    break;
                case 'two': 
                    if (+time / 3600 >= 60) {
                        return colors['green'];
                    } else if (+time / 3600 >= 40) {
                        return colors['yellow']
                    } else {
                        return colors['red'];
                    }
                    break;
            }
        },
        updateReports(user) {
            this.$http.post(`api/reports/update`, { user })
        },
        getSimpleReports: function (commerce = this.commerce) {
            this.workers.loading = true;
            this.$http.get(`/api/reports/simple?start=${monday}&commerce=${commerce}`)
                .then(res => {
                    const reports = res.data.reports;
                    this.workers.items = reports;
                    for (let key in this.sums) {
                        this.sums[key] = reports.map(r => r[key] || 0).reduce((a, b) => a + b);
                    }

                    this.workers.loading = false;
                    this.commerce = commerce;
                })
                .catch(e => {
                    console.log(e);
                    this.workers.loading = false;
                });
        }
    }
}
</script>
<style scoped>

</style>
