<template>
    <v-layout>
        <v-flex>
            <!-- <v-breadcrumbs divider="/">
                <v-breadcrumbs-item :to="{ name: 'workers' }" :disabled="false" active-class="">
                    Работники
                </v-breadcrumbs-item>
                <v-breadcrumbs-item disabled>
                    {{ email }}
                </v-breadcrumbs-item>
            </v-breadcrumbs> -->
            <v-card>
                <v-card-title class="title">
                    Работник: {{ email }}
                </v-card-title>
                <v-divider></v-divider>
                <div class="text-md-center">
                    <a @click="$router.push({ name: 'detailed', params: { id } })">Подробная статистика</a>
                </div>
                <v-divider></v-divider>
                <v-data-table
                    :headers="projects.headers"
                    :items="projects.items"
                    :pagination.sync="projects.pagination"
                    hide-actions
                >
                    <template slot="items" slot-scope="props">
                        <tr>
                            <td><a @click="$router.push({ name: 'project', params: { project: props.item._id } })">{{ props.item.project.name }}</a> <v-icon small v-if="!props.item.project.commerce" color="black">money_off</v-icon> </td>
                            <td>{{ props.item.lastTwo | hoursFormat }}</td>
                            <td>{{ props.item.last | hoursFormat }}</td>
                            <td>{{ props.item.one | hoursFormat }}</td>
                            <td>{{ props.item.all | hoursFormat }}</td>
                        </tr>
                    </template>
                </v-data-table>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const currentDay = Number.parseInt(new Date().getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;
const monday = getMonday(currentDay);
const lastMonday = getMonday(monday - (1000 * 3600 * 24));
const prevMonday = getMonday(lastMonday - (1000 * 3600 * 24));

const moment = require('moment');

export default {
    name: 'worker',
    props: ['id'],
    data: function () {
        return {
            custom: {
                startDate: {
                    value: null,
                    activator: false
                },
                endDate: {
                    value: null,
                    activator: false
                }
            },
            projects: {
                pagination: {
                    sortBy: 'lastTwo',
                    rowsPerPage: -1,
                    descending: true
                },
                headers: [
                    { text: 'Название', value: 'project.name' },
                    { text: `${moment(prevMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'lastTwo' },
                    { text: `${moment(lastMonday).format('DD.MM')} - ${moment(monday - (1000 * 3600 * 24)).format('DD.MM')}`, value: 'last' },
                    { text: `${moment(monday).format('DD.MM')} - ${moment(monday + (1000 * 3600 * 24 * 7)).format('DD.MM')}`, value: 'one' },
                    { text: 'Все время', value: 'all' }
                ],
                items: []
            }
        }
    },
    mounted: function () {
        this.getProjectReports();
    },
    filters: {
        hoursFormat: (time) => {
            const hours = Number.parseInt(time / 3600);
            const minutes = Number.parseInt((time - hours * 3600) / 60);
            const seconds = Number.parseInt(time -  hours * 3600 - minutes * 60);
            
            const minutesStr = minutes.toString().length === 1 ? `0${minutes}` : minutes;
            const secondsStr = seconds.toString().length === 1 ? `0${seconds}` : seconds;
            
            return `${hours}:${minutesStr}:${secondsStr}`;
        }
    },
    methods: {
        getProjectReports: function () {
            this.$http.get(`/api/reports/user/${encodeURIComponent(this.id)}?start=${monday}`)
                .then(res => {                    
                    const reports = res.data.reports;
                    this.projects.items = reports;
                    this.email = res.data.user.email;
                })
                .catch(e => {
                    console.log(e);
                });
        }
    }
}
</script>
<style scoped>

</style>