<template>
    <v-app>
        <v-navigation-drawer
            v-model="drawer"
            stateless
            fixed
            dark
            app
            width="200"
            class="elevation-12"
            v-if="$auth.check()"
        >
            <v-list dense>
                <v-list-tile>
                    <v-list-tile-title class="title teal--text text--lighten-2">
                        Alt-Studio
                    </v-list-tile-title>
                </v-list-tile>
                <v-divider></v-divider>
                <template
                    v-for="item in menu"
                >
                    <v-list-tile
                        v-bind:key="item.title"
                        v-if="!item.type"
                        :to="item.to"
                    >
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ item.title }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-group
                        v-bind:key="item.title"
                        v-if="item.type === 'group'"
                        :value="item.value"
                    >
                        <v-list-tile slot="activator">
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile>

                        <v-list-tile
                            v-for="gItem in item.items"
                            v-bind:key="gItem.title"
                            :to="gItem.to"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ gItem.title }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list-group>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-content>
            <v-container fluid fill-height>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
export default {
    sockets: {
        connect: function () {
            console.log(this.$auth.token())
            this.$socket.emit('authenticate', {token: this.$auth.token()});
            console.log('socket connected');
        },
        authorized: function () {
            console.log('socket authorized');
        },
        unauthorized: function (error) {
            console.log(error);
        },
        online: function ({ users }) {
            this.$store.commit('initOnline', users);
        },
        extConnect: function ({ user }) {
            this.$store.commit('connect', user)
        },
        extDisconnect: function ({ user }) {
            this.$store.commit('disconnect', user)
        }
    },
    data: function () {
        return {
            drawer: true,
            menu: [
                { title: 'Главная', to: { name: 'index' } },
                { title: 'Работники', to: { name: 'workers-list' } },
                { title: 'Недельная стата', to: { name: 'workers-detailed' } },
                { title: 'Статистика работников', to: { name: 'workers' } },
                { title: 'Проекты', to: { name: 'projects' } }
                // { title: 'Главная', to: { name: 'index' } },
                // { title: 'Работники', value: true, type: 'group', items: [
                //     { title: 'Список работников', to: { name: 'workers-list' } },
                //     { title: 'Статистика', to: { name: 'workers' } },
                //     { title: 'Подробная статистика', to: { name: 'workers-detailed' } }
                // ] },
                // { title: 'Проекты', value: false, type: 'group', items: [
                //     { title: 'Статистика', to: { name: 'projects' } },
                // ] }
            ]
        }
    }
}
</script>
<style scoped>
    .v-list__tile--active {
        color: #4db6ac!important;
    }
</style>
<style>
    table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
        padding: 0 14px;
    }

    table.v-table tbody td, table.v-table tbody th {
        height: 38px;
    }

    .PM {
        color: #4db6ac;
        font-weight: bold;
    }

    .searchingString {
        width: 100%;
        background: rgb(243, 243, 243);
        padding: 4px 0 4px 17px;
    }
    
    .searchingBlock {
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
</style>

