<template>
    <v-layout align-center justify-center>
        <v-flex md3>
            <v-card>
                <v-card-title class="title">
                    Вход
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <v-form @submit="login">
                        <v-text-field
                            v-model="password"
                            label="Пароль"
                            required
                            :type="show ? 'text' : 'password'"
                            :append-icon="show ? 'visibility_off' : 'visibility'"
                            @click:append="show = !show"
                            :error="!!errors.password.msg"
                            :error-messages="errors.password.msg"
                            ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="login">Войти</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
export default {
    name: 'login',
    data: function () {
        return {
            show: false,
            password: '',
            errors: { password: { msg: '' } }
        }
    },
    methods: {
        login: function (e) {
            e.preventDefault();
            this.$auth.login({
                data: { password: this.password },
                success: (res) => {
                    this.$router.push({ name: 'main' })
                },
                error: (err) => {
                    if (err.response.status === 400) {
                        this.errors = err.response.data.errors;
                    }
                    console.log(err);
                }
            })
        }
    },
    watch: {
        password: function () {
            this.errors = { password: { msg: '' } }
        } 
    }
}
</script>
<style scoped>

</style>
