<template>
    <v-layout>
        <v-flex md4>
            <v-card>
                <v-card-title class="title">
                    Работники онлайн
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <v-data-table
                        :headers="online.headers"
                        :items="onlineItems"
                        :pagination.sync="online.pagination"
                        hide-actions
                    >
                        <template slot="items" slot-scope="props">
                            <tr>
                                <td>
                                    {{ props.item | FIO }}
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
import VueApexCharts from 'vue-apexcharts' // https://apexcharts.com/docs

const getMonday = (d) => {
    d = new Date(d);
    const day = d.getDay();
    const diff = d.getDate() - day + (day == 0 ? -6:1);
    return new Date(d.setDate(diff)).getTime();
}

const currentDay = Number.parseInt(new Date().getTime() / (1000 * 3600 * 24)) * 3600 * 24 * 1000;
const monday = getMonday(currentDay);
const lastMonday = getMonday(monday - (1000 * 3600 * 24));
const prevMonday = getMonday(lastMonday - (1000 * 3600 * 24));

const moment = require('moment');

export default {
    components: {
        apexcharts: VueApexCharts,
    },
    data: function () {
        return {
            online: {
                pagination: {
                    sortBy: 'connectAt',
                    rowsPerPage: -1,
                    descending: true
                },
                headers: [
                    { text: 'ФИО', value: 'lastname' }
                ]
            }
        }
    },
    filters: {
        FIO: (user) => `${user.lastname || ''} ${user.firstname || ''} ${user.patronymic || ''}`
    },
    computed: {
        onlineItems() {
            console.log(this.$store.state.online);
            return this.$store.state.online
        }
    },
    mounted: function () {
        // this.getStatForChart();
    },
    methods: {
        getStatForChart: function () {
            this.$http.get(`/api/reports/chart?start=${currentDay}&count=5`)
                .then(res => {
                    const data = res.data.data;
                    const series = { name: 'Все', data: [] };
                    for (let time in data) {
                        this.chartOptions.xaxis.categories.push(moment(+time).format('DD.MM'));

                        series.data.push(Math.floor(data[time] / 3600));
                    }
                    this.series.push(series);
                    console.log(data);
                }).catch(e => {
                    console.log(e);
                });
        }
    }
}
</script>
<style scoped>

</style>